<html>
    <head>
        <title>Recuperação de senha</title>
    </head>

    <body>
        <table border="0" collspacing="0" align="center" width="600" style="width: 600; text-align: center"> 
            <tr>
                <td align="center">
                    <h1>Olá <%= nome %> </h1>
                    <p> Recebemos um pedido de recuperação de senha seu</p>

                    <a href="<%= linkDeRecuperacao %>" target="_blank">Clique Aqui para redefinir sua senha!</a>
                    <br>
                    <br>

                    <small>Caso não tenha sido você que tenha pedido esse email, basta ignorá-lo </small>
                
                
                </td>
            </tr>

        </table>
    </body>

</html>