<html>
    <head>
        <title>Confirme sua conta!</title>
    </head>

    <body>
        <table border="0" collspacing="0" align="center" width="600" style="width: 600; text-align: center"> 
            <tr>
                <td align="center">
                    <h1>Aioo <%= nome %> </h1>
                    <p> Parabéns voce lucrou mais de R$ 1000,00 em trades!</p>

                    <p>Seu lucro de ontem foi de R$ <%= pnl %></p>
                </td>
            </tr>

        </table>
    </body>

</html>